html {
  font-family: sans-serif;
  height: 100%;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #1e1e1e;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  line-height: 1.4;

  &.modal-mode {
    overflow: hidden;
    padding-right: 0px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@viewport {
  width: device-width;
}

::selection {
  background-color: rgb(124 159 248 / 40%);
  text-shadow: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  color: $primary;
  text-decoration: none;
  text-decoration-skip: objects;

  &:hover {
    color: $primary-hover;
  }

  &:active {}

  &:focus {
    outline: none;
  }
}

@keyframes autofill {
  to {
    color: #fff;
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

iframe {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 20px;
  font-weight: 500;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

table {
  border-collapse: collapse;
  width: 100%;
}

#app {
  height: 100%;
}
