
if mode === "link"
  a.btn(href= data.link, class=(mainClasses ? mainClasses  : false))
    if icon
      | !{icon}
    span.text= data.text
else if mode === "btn"
  button.btn(type= type, class=(mainClasses ? mainClasses  : false))
    if icon
      | !{icon}
    span.text= text


