aside.chat-sidebar
  header.chat-sidebar__header
    button.chat-sidebar__header-back-btn(type="button") Профиль >
    | !{input}
  ul.chat-sidebar__list
    each item in chats
      | !{item}
    else
      | Чаты не найдены!
      //- li.chat-sidebar__list-item
      //-   .chat-preview-box
      //-      .chat-preview-box__col-left
      //-         img.__owner-picture(src= item.ownerPicture)
      //-      .chat-preview-box__col-right
      //-        .chat-preview-box__content-left
      //-          .chat-preview-box__owner-name= item.ownerName
      //-          .chat-preview-box__last-reply= item.lastMessagePreview
      //-        .chat-preview-box__content-right
      //-           .chat-preview-box__time= item.time
      //-           .chat-preview-box__unread-message-counter= item.unreadMessageCounter




