.input-box(class=(data.mainClasses ? data.mainClasses  : false))
  label.input-box__label
    | !{input}
    span.input-box__title= data.title
  span.input-box__error-message Сообщение об ошибке


