.input-box(class=!isValid && errorMessageVisibility ? 'error' : false, class= mainClasses ? mainClasses : false, id= id)
  label.input-box__label
    | !{input}
    span.input-box__title= title
  span.input-box__error-message= errorMessage


