main.page-wrapper.page-wrapper_profile
  | !{buttonSidebar}
  .profile-box
    .profile-box__header
      img.profile-box__avatar(src="https://via.placeholder.com/130", alt="User avatar")
      h2.profile-box__user-name
        //- | !{fields}
    .profile-box__main
      .table-box.table-box_two-between
        each item in fields
          | !{item}
        else
          | Данные пользователя не найдены!

    .profile-box_footer
      table.table-box
        tr
          td
            a(href="#") Изменить данные
        tr
          td
            a(href="#") Изменить пароль
        tr
          td
            |  !{logoutButton}


