.modal {
  display: none;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1000;

  &.show {
    display: block;
  }

  &__content {
    background-color: #fff;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 1.75rem auto;
    padding: 15px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    padding: 5px 0;
  }
}
